<app-nav-bar-login></app-nav-bar-login>
<section class="first-section"></section>

<section class="login">
    <div class="box-login">
        <h2 class="text-2xl font-semibold text-gray-800 text-center mb-4">
            Inicio de Sesión (Estudiante)
        </h2>

        <div style="display: flex; justify-content: center; align-items: center; margin-right: 40px;">
            <p-inputgroup class="user-box">
              <input pInputText [(ngModel)]="text1" style="width: 400px; margin-left: 7px; height: 50px;
              border: 1px solid rgba(108, 122, 127, 0.4); border-radius: 4px; padding-left:10px;" placeholder="Username"/>
            </p-inputgroup>
          </div>

          <div style="display: flex; justify-content: center; align-items: center; margin-right: 130px; margin-top: 10px;">
            <p-password [(ngModel)]="value" [toggleMask]="true" [feedback]="false" class="password-box" placeholder="Password" ></p-password>
          </div>
          
          <button type="button" class="btn-login">Iniciar sesión</button>
    </div>
</section>