<p-button (click)="showDialog()" label="Añadir oferta" [rounded]="true" icon="pi pi-plus"></p-button>

<p-dialog header="Añadir oferta laboral" [modal]="true" [(visible)]="visible" [style]="{ width: '55rem' }">
    <div class="mb-4">
        <label for="username" class="font-semibold block mb-1">Nombre</label>
        <input pInputText id="username" class="w-full" autocomplete="off" />
    </div>

    <div class="grid grid-cols-2 gap-6 mb-4">
        <div>
            <label for="email" class="font-semibold block mb-1">Email</label>
            <input pInputText id="email" class="w-full" autocomplete="off" />
        </div>
        <div>
            <label for="phone" class="font-semibold block mb-1">Teléfono</label>
            <input pInputText pKeyFilter="num" id="phone" class="w-full" placeholder="+57" />
        </div>
    </div>

    <div class="grid grid-cols-2 gap-6 mb-4">
        <div>
            <label for="date" class="font-semibold block mb-1">Fecha cierre</label>
            <p-datepicker id="date" [(ngModel)]="date" class="w-full" />
        </div>
        <div>
            <label for="modality" class="font-semibold block mb-1">Modalidad</label>
            <p-select [(ngModel)]="modality" inputId="modality" [options]="modalities" optionLabel="name" class="w-full" />
        </div>
    </div>

    <div class="grid grid-cols-2 gap-6 mb-4">
        <div>
            <label for="city" class="font-semibold block mb-1">Ciudad</label>
            <p-select [(ngModel)]="city" inputId="city" [options]="cities" optionLabel="name" class="w-full" />
        </div>
        <div>
            <label for="salary" class="font-semibold block mb-1">Salario</label>
            <p-inputnumber inputId="salary" [(ngModel)]="salary" class="w-full" />
        </div>
    </div>

    <div class="mb-4">
        <label for="description" class="font-semibold block mb-2">Descripción</label>
        <p-editor [(ngModel)]="description" [style]="{ height: '220px' }" class="w-full">
            <ng-template #header>
                <span class="ql-formats">
                    <button type="button" class="ql-bold" aria-label="Bold"></button>
                    <button type="button" class="ql-italic" aria-label="Italic"></button>
                    <button type="button" class="ql-underline" aria-label="Underline"></button>
                </span>
            </ng-template>
        </p-editor>
    </div>

    <div class="flex justify-end gap-2 mt-6">
        <p-button label="Cancelar" [rounded]="true" severity="secondary" />
        <p-button label="Publicar" [rounded]="true" />
    </div>
</p-dialog>
