<div class="layout">
    <app-company-sidebar></app-company-sidebar>
    <div class="flex-1 flex flex-col bg-gray-50 min-h-screen">
        <header class="Nav-Bar px-4 sm:px-6 lg:px-8">
            <p-menubar>
                <ng-template #start>
                    <svg width="33" height="35" viewBox="0 0 33 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="..." fill="var(--primary-color)" />
                    </svg>
                    <h1 class="text-2xl font-inter font-bold text-gray-800 tracking-wide ml-70">
                        Detalles oferta laboral
                    </h1>
                </ng-template>
                <ng-template #end>
                    <div class="flex items-center gap-2">
                        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                            shape="circle" size="large" />
                    </div>
                </ng-template>
            </p-menubar>
        </header>

        <main class="main-content px-4 sm:px-6 lg:px-8 py-6">
            <div
                class="flex items-center justify-between px-6 py-4 mb-6 bg-white shadow-sm border border-gray-200">
                <h2 class="text-2xl font-bold text-gray-800">
                    {{ offer?.name || 'Nombre de la oferta laboral' }}
                </h2>
            </div>

            <section class="grid grid-cols-1 md:grid-cols-3 gap-6 p-6">
                <!-- Columna 1: Estado y Salario -->
                <div class="flex flex-col gap-2">
                    <div>
                        <h2 class="text-gray-500 text-sm">Estado</h2>
                        <p class="text-green-600 font-semibold">{{ offer?.status}}</p>
                    </div>
                    <div>
                        <h2 class="text-gray-500 text-sm">Salario</h2>
                        <p class="text-gray-900 font-semibold">{{ offer?.salary }}</p>
                    </div>
                </div>

                <!-- Columna 2: Fecha Publicación y Nº postulaciones -->
                <div class="flex flex-col gap-2">
                    <div>
                        <h2 class="text-gray-500 text-sm">Fecha Publicación</h2>
                        <p class="text-gray-900 font-semibold">{{ offer?.fechaPublicacion}}</p>
                    </div>
                    
                </div>

                <!-- Columna 3: Descripción -->
                <div class="max-w-full break-words overflow-hidden">
                    <h2 class="text-gray-500 text-sm mb-1">Descripción</h2>
                        <p class="text-gray-900 font-medium text-justify leading-relaxed break-words"
                            [innerHTML]="offer?.description"></p>
                </div>

            </section>

            
            <p-table #dt1 [value]="students" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
                [loading]="loading" [paginator]="true"
                [globalFilterFields]="['fullName', 'studentCode', 'date', 'program', 'status']">

                <ng-template #caption>
                    <div class="flex">
                        <div
                class="flex items-start justify-between bg-white">
                <h2 class="text-2xl font-bold text-gray-800">
                    Postulaciones recibidas
                </h2>
            </div>
                        <p-iconfield iconPosition="left" class="m-auto">
                            <p-inputicon>
                                <i class="pi pi-search"></i>
                            </p-inputicon>
                            <input #globalFilter pInputText type="text"
                                (input)="dt1.filterGlobal(globalFilter.value, 'contains')"
                                placeholder="Buscar estudiante..." />
                        </p-iconfield>
                    </div>
                </ng-template>

                <ng-template #header>
                    <tr>
                        <th style="min-width:15rem; padding-left: 5rem;">
                            <div class="flex items-center">
                                Nombre completo
                                <p-columnFilter type="text" field="fullName" display="menu" />
                            </div>
                        </th>
                        <th style="min-width:10rem;">
                            <div class="flex items-center">
                                Código estudiantil
                                <p-columnFilter type="text" field="studentCode" display="menu" />
                            </div>
                        </th>
                        <th style="min-width:12rem;">
                            <div class="flex items-center">
                                Fecha
                                <p-columnFilter type="date" field="date" display="menu" />
                            </div>
                        </th>
                        <th style="min-width:12rem;">
                            <div class="flex items-center">
                                Programa
                                <p-columnFilter type="text" field="program" display="menu" />
                            </div>
                        </th>
                        <th style="min-width:10rem;">
                            <div class="flex items-center">
                                Estado
                                <p-columnFilter type="text" field="status" display="menu" />
                            </div>
                        </th>
                        <th style="min-width:8rem;">
                            Ver
                        </th>
                    </tr>
                </ng-template>

                <ng-template #emptymessage>
                    <tr>
                        <td colspan="6">No se encontraron registros.</td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData>
                    <tr>
                        <td style="padding-left:5rem;">
                            {{ rowData.fullName }}
                        </td>
                        <td>{{ rowData.studentCode }}</td>
                        <td>{{ rowData.date | date:'MMM dd, yyyy hh:mm a' }}</td>
                        <td>{{ rowData.program }}</td>
                        <td>
                            <ng-container [ngSwitch]="rowData.status">
                                <p-tag *ngSwitchCase="'Aprobada'" [value]="'Aprobada'" severity="success"></p-tag>
                                <p-tag *ngSwitchCase="'Rechazada'" [value]="'Rechazada'" severity="danger"></p-tag>
                                <p-tag *ngSwitchCase="'Pendiente'" [value]="'Pendiente'" severity="warn"></p-tag>
                            </ng-container>
                        </td>
                        <td>
                            <p-button pButton pRipple type="button" icon="pi pi-eye"
                                class="p-button-rounded p-button-text p-button-secondary"
                                (click)="verDetalles(rowData)"></p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </main>
    </div>
</div>