<app-company-sidebar></app-company-sidebar>
<p-toast></p-toast>

<div class="flex-1 flex flex-col bg-gray-50 min-h-screen">
    <header class="Nav-Bar">
        <p-menubar>
            <ng-template #start>
                <svg width="33" height="35" viewBox="0 0 33 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="..." fill="var(--primary-color)" />
                </svg>
                <h1 class="text-2xl font-inter font-bold text-gray-800 tracking-wide ml-70">
                    Mis ofertas publicadas
                </h1>
            </ng-template>
            <ng-template #end>
                <div class="flex items-center gap-2">
                    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" size="large" />
                </div>
            </ng-template>
        </p-menubar>
    </header>
    
    <p-table 
        #dt1 
        [value]="jobOffers" 
        dataKey="id" 
        [rows]="10" 
        [rowsPerPageOptions]="[10, 25, 50]" 
        [loading]="loading" 
        [paginator]="true" 
        [globalFilterFields]="['name', 'modality', 'city', 'date', 'status']">        

        <ng-template #header>
            <tr>
                <th style="min-width:15rem; padding-left: 20rem;">
                    <div class="flex items-center">
                        Nombre
                        <p-columnFilter type="text" field="name" display="menu" />
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex items-center">
                        Modalidad
                        <p-columnFilter type="text" field="modality" display="menu" />
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex items-center">
                        Ubicación
                        <p-columnFilter type="text" field="city" display="menu" />
                    </div>
                </th>
                <th style="min-width:12rem">
                    <div class="flex items-center">
                        Disponible hasta
                        <p-columnFilter type="date" field="date" display="menu" />
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex items-center">
                        Estado
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex items-center">
                        Opciones
                    </div>
                </th>
            </tr>
        </ng-template>

        <ng-template #emptymessage>
            <tr>
                <td colspan="6">No se encontraron registros.</td>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData>
            <tr>
                <td style="padding-left:20rem;">
                    {{ rowData.name }}
                </td>
                <td>
                    {{ rowData.modality }}
                </td>
                <td>
                    {{ rowData.city }}
                </td>
                <td>
                    {{ rowData.date | date:'MMM dd, yyyy hh:mm a' }}
                </td>
                
                <td>
                    <ng-container [ngSwitch]="rowData.status">
                        <p-tag *ngSwitchCase="'Abierta'" [value]="'Abierta'" severity="success"></p-tag>
                        <p-tag *ngSwitchCase="'Cerrada'" [value]="'Cerrada'" severity="danger"></p-tag>
                        <p-button *ngSwitchDefault [label]="rowData.status" variant="text"></p-button>
                    </ng-container>
                </td>
                <td>
                    <p-button [rounded]="true" icon="pi pi-eye" class="mr-5" 
                        [routerLink]="['/panel/company/job-offer',rowData.id]"
                        routerLinkActive="router-link-active"></p-button>

                    <app-company-dialog-edit-offer
                        [offer]="rowData"
                        (offerUpdated)="handleOfferUpdated($event)">
                    </app-company-dialog-edit-offer>

                    <p-button [rounded]="true" severity="danger" icon="pi pi-trash" class="mr-5" 
                        (click)="onDeleteOffer(rowData.id)">
                    </p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
