<nav class="navbar">
    <img [routerLink]="['/']" class="navbar-logo" src="assets/logo-recortado.png" alt="logo-linkedmag" />
  
    <div class="navbar-actions">
      <p-menu #menu [model]="items" popup></p-menu>
  
      <button
        pButton
        type="button"
        class="btn-register p-button-rounded p-button-secondary"
        (click)="navigateToRegister()">
        <span class="p-button-label">Regístrate</span>
        <span class="p-button-icon pi pi-angle-down"></span>
      </button>
    </div>
  </nav>
