<p-button (click)="showDialog()" label="Ver" styleClass="w-20"  [rounded]="true" />

<p-dialog header="Ver oferta laboral" [modal]="true" [(visible)]="visible" [style]="{ width: '55rem' }">
    <div class="mb-4">
        <label for="username" class="font-semibold block mb-1">Nombre</label>
        <input pInputText id="username" class="w-full" autocomplete="off" [disabled]="true" value={{offer.name}}>
    </div>

    <div class="grid grid-cols-2 gap-6 mb-4">
        <div>
            <label for="email" class="font-semibold block mb-1">Email</label>
            <input pInputText id="email" class="w-full" autocomplete="off" [disabled]="true" value= {{offer.email}} />
        </div>
        <div>
            <label for="phone" class="font-semibold block mb-1">Teléfono</label>
            <input pInputText pKeyFilter="num" id="phone" class="w-full" [disabled]="true" value={{offer.phone}}/>
        </div>
    </div>

    <div class="grid grid-cols-2 gap-6 mb-4">
        <div>
            <label for="date" class="font-semibold block mb-1">Fecha cierre</label>
            <input pInputText id="date"  class="w-full" [disabled]="true" [value]="offer.date | date:'MMM dd, yyyy hh:mm a'" />
        </div>
        <div>
            <label for="modality" class="font-semibold block mb-1">Modalidad</label>
            <input pInputText id="email" class="w-full" autocomplete="off" [disabled]="true" value={{offer.modality}}/>
        </div>
    </div>

    <div class="grid grid-cols-2 gap-6 mb-4">
        <div>
            <label for="city" class="font-semibold block mb-1">Ciudad</label>
            <input pInputText id="email" class="w-full" autocomplete="off" [disabled]="true" value={{offer.city}}/>
        </div>
        <div>
            <label for="salary" class="font-semibold block mb-1">Salario</label>
            <input pInputText id="email" class="w-full" autocomplete="off" [disabled]="true" value={{offer.salary}}/>
        </div>
    </div>

    <div class="mb-4">
        <label for="description" class="font-semibold block mb-2" >Descripción</label>
        <textarea rows="5"cols="30" pTextarea [disabled]="true">{{offer.description}}
</textarea>
    </div>

    <div class="flex justify-end gap-2 mt-6">
        <p-button label="Aplicar" [rounded]="true"  />
    </div>
</p-dialog>
