<app-nav-bar-home></app-nav-bar-home>
<section class="first-section"></section>
<link rel="stylesheet" href="https://primefaces.org/cdn/primeng/images/demo/flag/flags.css">

<section class="login">
    <div class="box-login">
        <h2 class="text-2xl font-semibold text-gray-800 text-center mb-5">
            Datos de la empresa
        </h2>

        <!-- Contenedor flex para los dos primeros campos -->
        <div style="display: flex; gap: 20px; align-items: center; margin-top: 15px;">
            <p-floatlabel variant="on" style="flex: 1;"> <!-- flex: 1 para que ocupen el espacio disponible -->
                <input
                  pInputText
                  id="companyName"
                  [(ngModel)]="nameCompany"
                  class="input-highlight"
                  style="width: 100%;"
                />
                <label for="companyName">Nombre completo</label>
            </p-floatlabel>

            <p-floatlabel variant="on" style="flex: 1;"> <!-- flex: 1 para que ocupen el espacio disponible -->
                <input
                  pInputText
                  id="emailCompany"
                  [(ngModel)]="emailCompany"
                  class="input-highlight"
                  style="width: 100%;"
                />
                <label for="emailCompany">Correo electrónico</label>
            </p-floatlabel>
        </div>
        <!-- Fin del contenedor flex -->


        <div style="display: flex; gap: 20px; align-items: center; margin-top: 15px;">
                <div style="display: flex; gap: 20px; align-items: center; margin-top: 15px;">
              <p-floatlabel variant="on">
                <p-select
                  [(ngModel)]="selectTypeCompany"
                  inputId="on_label"
                  [options]="typeCompany"
                  optionLabel="name"
                  class="input-highlight"
                ></p-select>
                <label for="on_label">Tipo de empresa</label>
              </p-floatlabel>
            </div>


            <div style="display: flex; gap: 20px; align-items: center; margin-top: 15px;">
                <p-floatlabel variant="on">
                  <p-select
                    [(ngModel)]="selectEconomicSector"
                    inputId="on_label"
                    [options]="economicSector"
                    optionLabel="name"
                    class="economicSector input-uniform"
                  ></p-select>
                  <label for="on_label">Sector económico</label>
                </p-floatlabel>
            </div>
        </div>

        <div style="display: flex; gap: 20px; align-items: center; margin-top: 15px;">
            <p-floatlabel variant="on">
              <p-inputnumber
                [(ngModel)]="NIT"
                inputId="nit"
                mode="decimal"
                [useGrouping]="false"
                [minFractionDigits]="0"
                [maxFractionDigits]="0"
                class="custom-label"
              />
              <label for="nit">NIT</label>
            </p-floatlabel>
        </div>
       

        <div style="display: flex; gap: 20px; align-items: center; margin-top: 15px;">
        <div style="display: flex; gap: 20px; align-items: center; margin-top: 15px;">
          <p-floatlabel variant="on" class="input-uniform">
            <p-password [(ngModel)]="password" inputId="on_label" class="custom-label" [toggleMask]="true" />
            <label for="on_label">Contraseña</label>
          </p-floatlabel>
        </div>
        <div style="display: flex; gap: 20px; align-items: center; margin-top: 15px;">
            <p-floatlabel variant="on" class="margin-form input-uniform">
              <p-password [(ngModel)]="confirmPassword" inputId="on_label" class="custom-label" [toggleMask]="true" />
              <label for="on_label">Confirmar contraseña</label>
            </p-floatlabel>
        </div>
        </div>


        <div style="display: flex; gap: 10px; align-items: center; margin-top: 20px;">
          <button type="button" class="btn-register" (click)="validarFormulario()">Registrate</button>
        </div>

    </div>
</section>
