<app-nav-bar-home></app-nav-bar-home>
<p-toast></p-toast>
<section class="first-section"></section>

<section class="login">
  <div class="box-login">
    <h2 class="text-2xl font-semibold text-gray-800 text-center mb-4">
        Registro Estudiante
    </h2>
  
    <p-floatlabel variant="on" class="margin-form">
        <input pInputText id="on_label" [(ngModel)]="name" autocomplete="off" style="resize: none; 
        width: 550px; height: 50px; padding: 15px; border: 1px solid rgba(108, 122, 127, 0.4);" autocomplete="off"/>
        <label for="on_label">Nombre completo</label>
    </p-floatlabel>
    
    <p-floatlabel variant="on" class="margin-form">
      <input pInputText id="on_label" [(ngModel)]="email" autocomplete="off" style="resize: none; 
      width: 550px; height: 50px; padding: 15px; border: 1px solid rgba(108, 122, 127, 0.4);" #nameRef="ngModel" />
      <label for="on_label">Correo electrónico</label>
    </p-floatlabel>

    <p-floatlabel variant="on" class="margin-list">
      <p-select [(ngModel)]="selectPrograma"  inputId="on_label" [options]="academicPrograms" optionLabel="name"  class="custom-label" />
      <label for="on_label">Programa académico</label>
    </p-floatlabel>
    
    <p-floatlabel variant="on" class="margin-form">
      <input pInputText id="on_label" [(ngModel)]="studentCode" autocomplete="off" style="resize: none; 
      width: 550px; height: 50px; padding: 15px; border: 1px solid rgba(108, 122, 127, 0.4);" #nameRef="ngModel" />
      <label for="on_label">Código estudiantil</label>
    </p-floatlabel>

    <p-floatlabel variant="on" class="margin-form">
      <p-password [(ngModel)]="password" inputId="on_label" styleClass="custom-password p-filled" [toggleMask]="true" />
      <label for="on_label">Contraseña</label>
    </p-floatlabel>
    
    <p-floatlabel variant="on" class="margin-form">
      <p-password [(ngModel)]="confirmPassword" inputId="on_label" styleClass="custom-password p-filled" [toggleMask]="true" />
      <label for="on_label">Confirmar contraseña</label>
    </p-floatlabel>

    <button type="button" class="btn-register" (click)="validarFormulario()">Registrate</button>
    
  </div>
</section>
