<app-nav-bar-home></app-nav-bar-home>

<section class="hero">
    <h1>Estudiante Unimagdalena, te ayudamos conseguir<br>las prácticas profesionales de tus sueños</h1>
    <p>Únete a las +10,000 empresas que impulsan el talento joven.<br>
       Encuentra oportunidades de práctica profesional en empresas líderes.<br>
       Conéctate, aplica y da el primer paso en tu carrera.</p>
    <div class="buttons">

      
      <button class="btn-primary">Regístrate como estudiante</button>
      <button class="btn-secondary">Regístrate como empresa</button>
    </div>
</section>

<section class="benefits">
    <h2>Estudiante Unimagdalena, estos son tus beneficios</h2>
    <p>Te conectamos con empresas que buscan talento joven. Nuestra plataforma facilita el proceso de encontrar y aplicar a prácticas profesionales en Santa Marta y Colombia.</p>
  
    <div class="benefit-cards">
      <div class="benefit-card">
        <h3>Empresas verificadas</h3>
        <p>Trabajamos con organizaciones serias y confiables, garantizando ofertas reales y seguras.</p>
      </div>
      <div class="benefit-card">
        <h3>Postulación rápida</h3>
        <p>Regístrate, te verificamos, crea tu perfil y aplica en minutos a las oportunidades que más te gusten.</p>
      </div>
      <div class="benefit-card">
        <h3>Acompañamiento</h3>
        <p>Te guiamos durante todo el proceso: desde la búsqueda hasta la incorporación en la empresa.</p>
      </div>
    </div>
</section>
  
